* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background-image: url("./BlackjackBG.png");
  background-size: cover;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 4px none;
  padding: 10px;
}

button {
  display: block;
  margin: 1px 1px ;
  padding: 10px;
  font-size: 16px;
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
  justify-content: center;
}

button:hover {
  background-color: grey;
  color: white;
}

#bet-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmax;

}
#bet-controls button {
  margin: 0 1vmax;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}


 .bank {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  /* margin: 2em 30em; */
  border: solid rgba(221, 220, 220, 0.91);
  background-color: grey;
  width: 50%;
  /* padding: 1.5em; */
  margin-top: 10%;
} 


#hand-active-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

#hand-over-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2em;
  margin-bottom: 2em;
}

.controls-container  {
  display: flex;
  flex-direction: column;
}

h4 {
  border-color: black;
  ;
}