* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background-image: url("./BlackjackBG.jpeg");
  background-size: cover;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 4px none;
  padding: 10px;
  border: solid black
}

button {
  display: block;
  margin: 1px 1px ;
  padding: 10px;
  font-size: 16px;
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
  justify-content: center;
}

button:hover {
  background-color: grey;
  color: white;
}

#bet-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmax;

}
#bet-controls button {
  margin: 0 1vmax;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}


.bank {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  /* margin: 2em 30em; */
  border: solid rgba(129, 126, 126, 0.91);
  background-color: rgb(255, 255, 255);
  width: 50%;
  /* padding: 1.5em; */
  margin-top: 10%;
  color: grey;
  border-radius: 10px;
} 


#hand-active-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

#hand-over-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2em;
  margin-bottom: 2em;
}

.controls-container  {
  display: flex;
  flex-direction: column;
}

h4 {
  border-color: black;
  ;
}

#dealer-hand-container {
  border: 2px solid black; /* Added solid black border */
  padding: 10px; /* Optional: add padding for spacing inside the border */
  margin: 10px; /* Optional: add margin for spacing outside the border */
}

#dealer-has {
  margin-top: 10px;
}

#player-has {
  margin-top: 10px;
}

.card {
  margin-top: 30px;
}