* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.card-container {
  display: inline-flex;
  /* flex-wrap: wrap; */
  border: 1vmin  solid rgb(0, 0, 0);
  border-radius: 2vmin;
  padding: 1vmin;
  /* height: calc(42px + 2vmin + 4vmin); */
  /* width: 10vmin; */
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
}

button:hover {
  background-color: grey;
  color: white;
}

